* {
    box-sizing: border-box;
    margin: 0;
}

/*HEADER*/

header {
    background-color: black;
    width: 100%;
    height: 70px;
}

.logo {
    width: 50px;
    height: 50px;
    margin-left: 310px;
    margin-top: 10px;
}

.texto-header {
    float: right;
    margin-right: 350px;
    margin-top: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 8px;
}

/*NAV*/

li {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    list-style: none;
    float: left;
    padding-left: 250px;
    margin-right: 25px;
    margin-top: 30px;
    color: rgba(0, 0, 0, 0.751);
    cursor: pointer;

    /*Tipografia2*/
        font-family: "Nanum Myeongjo", serif;
        font-weight: bold;
        font-style: normal;    
}

li:hover {
    color: black;
}

/*MAIN*/

/*Portada*/

.fecha-portada {
    font-size: 20px;
    padding-top: 180px;
    padding-left: 1150px;
    letter-spacing: 1px;
}

.titulo-portada {
    font-size: 130px;
    letter-spacing: 2px;
    padding-top: 30px;
    padding-left: 980px;
}

.titulo-portada2 {
    font-size: 130px;
    letter-spacing: 2px;
    margin-top: -20px;
    padding-left: 900px;
}

.profesion-portada {
    font-size: 22px;
    margin-top: -4px;
    padding-left: 1080px;
    color: #333;

    /*Tipografia2*/
    font-family: "Nanum Myeongjo", serif;
    font-weight: bold;
    font-style: normal;    
}

.imagen-portada {
    width: 400px;
    height: 500px;
    margin-left: 260px;
    margin-top: -310px;
}

.descripcion-foto {
    font-size: 20px;
    margin-left: 380px;
    margin-top: 10px;
    color: #333333ac;
}

.subtitulo-portada {
    font-size: 60px;
    font-weight: bold;
    margin-left: 940px;
    margin-top: -150px;
}

.frase-portada {
    font-size: 25px;
    margin-left: 1080px;
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.839);
}

.hr-portada {
    border: 2px solid rgba(0, 0, 0, 0.176);
    margin-top: 200px;
    margin-left: 100px;
    width: 90%;
}

/*Biografia*/

.titulo-biografia {
    font-size: 60px;
    margin-left: 350px;
    margin-top: 180px;
}

.texto-biografia {
    font-size: 20px;
    margin-left: 350px;
    margin-top: 50px;
    color: #333;

    /*Tipografia*/
        font-family: "Poppins", serif;
        font-weight: 400;
        font-style: normal;
}

.imagen-biografia {
    width: 400px;
    height: 500px;
    margin-left: 730px;
    margin-top: -400px;
    float: left;
}

.descripcion-foto2 {
    font-size: 18px;
    margin-left: 1200px;
    margin-top: 110px;
    color: #333333ac;
}

.hr-biografia {
    border: 2px solid rgba(0, 0, 0, 0.176);
    margin-top: 160px;
    margin-left: 100px;
    width: 90%;
}

/*Obras y actos importantes*/

.titulo-obras-y-actos {
    font-size: 60px;
    margin-left: 700px;
    margin-top: 180px;
}

.subtitulo-obras-y-actos {
    font-size: 30px;
    margin-left: 830px;
    margin-top: -4px;
    color: rgba(0, 0, 0, 0.839);

    /*Tipografia2*/
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal; 
}

/*CONTENEDORES*/
/*Contenedor 1*/

.contenedor1 {
    width: 400px;
    height: 500px;
    border: 1px solid rgba(0, 0, 0, 0.133);
    border-radius: 8px;
    margin-left: 200px;
    margin-top: 150px;
}

.titulo-contenedor1-java {
    font-size: 44px;
    text-align: center;
    margin-top: 60px;
    letter-spacing: 1px;

    /*Tipografia*/
    font-family: "Poppins", serif;
    font-weight: bold;
    font-style: normal;
}

.titulo-contenedor1-java2 {
    font-size: 44px;
    text-align: center;
    margin-top: -24px;
    letter-spacing: 2px;

    /*Tipografia*/
    font-family: "Poppins", serif;
    font-weight: bold;
    font-style: normal;
}

.descripcion-contenedor1-java {
    font-size: 14px;
    margin-left: 40px;
    margin-top: 28px;
    color: #333;

    /*Tipografia*/
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.imagen-contenedor1 {
    width: 398px;
    height: 200px;
    margin-top: 42px;
    border-radius: 0 0 6px 6px;
}

/*Contenedor 2*/

.contenedor2 {
    width: 400px;
    height: 500px;
    border: 1px solid rgba(0, 0, 0, 0.133);
    border-radius: 8px;
    margin-right: 750px;
    margin-top: -500px;
    float: right;
}

.titulo-contenedor2-java {
    font-size: 44px;
    text-align: center;
    margin-top: 60px;
    letter-spacing: 1px;

    /*Tipografia*/
    font-family: "Poppins", serif;
    font-weight: bold;
    font-style: normal;
}

.titulo-contenedor2-java2 {
    font-size: 44px;
    text-align: center;
    margin-top: -24px;
    letter-spacing: 2px;

    /*Tipografia*/
    font-family: "Poppins", serif;
    font-weight: bold;
    font-style: normal;
}

.descripcion-contenedor2-java {
    font-size: 14px;
    margin-left: 60px;
    margin-top: 28px;
    color: #333;

    /*Tipografia*/
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.imagen-contenedor2 {
    width: 398px;
    height: 200px;
    margin-top: 42px;
    border-radius: 0 0 6px 6px;
}

/*Contenedor 3*/

.contenedor3 {
    width: 400px;
    height: 500px;
    border: 1px solid rgba(0, 0, 0, 0.133);
    border-radius: 8px;
    margin-right: 260px;
    margin-top: -500px;
    float: right;
}

.titulo-contenedor3-java {
    font-size: 44px;
    text-align: center;
    padding-top: 60px;
    letter-spacing: 1px;

    /*Tipografia*/
    font-family: "Poppins", serif;
    font-weight: bold;
    font-style: normal;
}

.descripcion-contenedor3-java {
    font-size: 14px;
    margin-left: 60px;
    margin-top: 50px;
    color: #333;

    /*Tipografia*/
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.imagen-contenedor3 {
    width: 398px;
    height: 200px;
    margin-top: 60px;
    border-radius: 0 0 6px 6px;
}


.hr-obras-actos {
    border: 2px solid rgba(0, 0, 0, 0.176);
    margin-top: 160px;
    margin-left: 100px;
    width: 90%;
}

/*Acontecimientos mas importantes*/

.titulo-acontecimientos {
    font-size: 60px;
    text-align: center;
    margin-top: 160px;
}

.titulo-acontecimientos2 {
    font-size: 60px;
    text-align: center;
    line-height: 1;
}

.descripcion-acontecimientos {
    font-size: 14px;
    margin-top: 220px;
    margin-left: 660px;
    display: grid;
    color: #333;

    /*Tipografia*/
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.imagen-acontecimientos-importantes {
    width: 420px;
    height: 540px;
    float: left;
    margin-left: 420px;
    margin-top: -370px;
    display: block;
}

.descripcion-foto-acontecimientos {
    font-size: 18px;
    margin-left: 560px;
    margin-top: 180px;
    color: #333333ac;
}

.puntos-acontecimientos1 {
    margin-left: 930px;
    margin-top: -250px;
}

.puntos-acontecimientos2 {
    margin-left: 930px;
    margin-top: 58px;
}

.puntos-acontecimientos3 {
    margin-left: 930px;
    margin-top: 38px;
}

.puntos-acontecimientos4 {
    margin-left: 930px;
    margin-top: 57px;
}

.hr-acontecimientos {
    border: 2px solid rgba(0, 0, 0, 0.176);
    margin-top: 150px;
    margin-left: 100px;
    width: 90%;
}

/*Datos curiosos*/

.titulo-datos-curiosos {
    font-size: 60px;
    margin-left: 420px;
    margin-top: 200px;
}

.titulo-datos-curiosos2 {
    font-size: 60px;
    margin-left: 420px;
}

.descripcion-datos-curiosos {
    font-size: 14px;
    margin-top: 70px;
    margin-left: 140px;
    display: grid;

    /*Tipografia*/
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.puntos-datos-curiosos1 {
    margin-left: 410px;
    margin-top: -250px;
}

.puntos-datos-curiosos2 {
    margin-left: 410px;
    margin-top: 36px;
}

.puntos-datos-curiosos3 {
    margin-left: 410px;
    margin-top: 58px;
}

.puntos-datos-curiosos4 {
    margin-left: 410px;
    margin-top: 58px;
}

.imagen-datos-curiosos {
    width: 400px;
    height: 800px;
    margin-left: 1100px;
    margin-top: -520px;
}

/*Footer*/
.footer {
    background-color: black;
    width: 100%;
    height: 200px;
    margin-top: 80px;
}

.texto-footer {
    color: white;
    font-size: 18px;
    padding-top: 100px;
    padding-left: 750px;
}

.texto-footer2 {
    color: white;
    font-size: 24px;
    padding-top: 10px;
    padding-left: 790px;
}

.logo-footer {
    width: 50px;
    height: 50px;
    margin-top: -40px;
    margin-left: 580px;
}

